{% if section.blocks.size > 0 %}  
  <div class="slider-product-proposal">
    <div class="page-width slider-product-proposal__container">
      <div class="slider-product-proposal__content">
        <div class="slider-product-proposal__title-wrapper">
          <h2 class="slider-product-proposal__title">Featured Products</h2>
          <div class="slider-product-proposal__title-line"></div>
        </div>
        <ul class="tab-navigation">
          {% for block in section.blocks %}
            <li class="tab-navigation__item{% if forloop.first %} active{% endif %}" data-tab="{{ block.id }}">
              {{ block.settings.tab_title }}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="slider-product-proposal__slider">
        {% for block in section.blocks %}
          <ul class="slider-product-proposal__slider-list{% if forloop.first %} active{% endif %}" data-content="{{ block.id }}">
            {% for product in block.settings.tab_products %}
              {% include 'product-slider-item', product: product %}
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

<style>@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')</style>
{{ 'slick.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.7.1.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'add-to-cart-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slider-product-item-options.js' | asset_url }}" defer="defer"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll('.tab-navigation__item');
    const sliders = document.querySelectorAll('.slider-product-proposal__slider-list');

    sliders.forEach(slider => {
      if (slider.classList.contains('active')) {
        initializeSlider(slider);
      }
    });

    tabs.forEach(tab => {
      tab.addEventListener('click', function () {
        const target = this.getAttribute('data-tab');

        tabs.forEach(t => t.classList.remove('active'));
        sliders.forEach(s => {
          s.classList.remove('active');
          if ($(s).hasClass('slick-initialized')) {
            $(s).slick('unslick'); 
          }
        });

        this.classList.add('active');
        const activeSlider = document.querySelector(`.slider-product-proposal__slider-list[data-content="${target}"]`);
        activeSlider.classList.add('active');

        initializeSlider(activeSlider);
      });
    });

    function initializeSlider(slider) {
      $(slider).slick({
        infinite: true,
        slidesToShow: {{ section.settings.slider_items }},
        slidesToScroll: {{ section.settings.slider_items }},
        speed: 300,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: {{ section.settings.slider_items_tab }},
              slidesToScroll: {{ section.settings.slider_items_tab }}
            }
          },
          {
            breakpoint: 576,
            settings: {
              slidesToShow: {{ section.settings.slider_items_mob }},
              slidesToScroll: {{ section.settings.slider_items_mob }}
            }
          }
        ]
      });
    }        
  });
</script>

{% schema %}
{
  "name": "Slider Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "number",
      "id": "tabs_count",
      "label": "Number of Tabs",
      "default": 4
    },
    {
      "type": "range",
      "id": "slider_items",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Items per desktop screen",
      "default": 4
    },
    {
      "type": "range",
      "id": "slider_items_tab",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Items per tablet screen",
      "default": 2
    },
    {
      "type": "range",
      "id": "slider_items_mob",
      "min": 1,
      "max": 1,
      "step": 1,
      "label": "Items per mobile screen",
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
        },
        {
          "type": "product_list",
          "id": "tab_products",
          "label": "Products for this Tab"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider Products with Tabs"
    }
  ]
}
{% endschema %}
