{% if section.blocks.size > 0 %}  
  <div class="slider-product-proposal">
    <div class="page-width slider-product-proposal__container">
      <div class="slider-product-proposal__content">
        <h2 class="slider-product-proposal__title">Featured Products</h2>
      </div>
      <div class="slider-product-proposal__slider">
        <ul class="slider-product-proposal__slider-list">
          {% for block in section.blocks %}
            {% if block.settings.proposal_product != blanc %}
              {%  assign product = block.settings.proposal_product %}              
              <li class="slider-product-proposal_item">{{ product.title }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}

{{ 'slick.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.7.1.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    $('#shopify-section-{{section.id}} .slider-product-proposal__slider-list').slick()
  })
</script>

{% schema %}
{
  "name": "Slider Products",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "type": "product",
      "name": "Proposal product",
      "settings": [
        {
          "type": "product",
          "id": "proposal_product",
          "label": "Our proposal Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider Products"
    }
  ]
}
{% endschema %}
